#title-container {
    position: relative;
    border: 3px solid black;
}
.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}
.aligncenter {
    text-align: center;
}
#forcast{
    display: flex;
    justify-content: center;
}

.col {
    align-content: center;
    border: 1px solid black;
    margin: 0px 10px;
}
