h2#title {
    text-align: center;
}
#title-container {
    position: relative;
}
.center {
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
}
#forcast{
    display: flex;
    justify-content: center;
}

.col {
    align-content: center;
}
